<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="CalisPrivateKey" value="BwIAAACkAABSU0EyAAQAAAEAAQBniB7AHfUIJbortDQ1ntWzue7LHGK0h3a04tEsws+gdSNG44skUj7ezyEq62tinOQy6rcLSJmN1/qrYbDtPnyLYvqN5oQFr7W+MVws8+Cwk6ms72fifp5crVMUYhgY9M75Fp8vfDQQcl5XsQk/nv2E63Nt6MVfTuhGKoEW9zkR8jGzE9hu//yaoQ1LlbtEV58RQqzmT01k6syLrE4a7N+nhhcSrCnlR466ushFMc/o3ISYp36+wQQCkmpqpdC8mfwXn24L6g7wjdapa0M7BmV92CkdLMW2/V15pbos8qFNoYMfri6UKe3yEgmCDodW+oKHbKgYG13c1yhkjuQYM1P1gdOlOUjR7kwUXHtwbRlyMJOuBOGFPCKLH10Ve6t3AQkLigRzPfPfIk84wcLNlqb7x0lhepqup6/kbp6HNDiCHTH2Ho10cPQ/9uoLX77TtpZRN53CUFcDWPYE1M31NAOi72tg1515uqpPGj2lgQFL+csDLy+H5P8fUXKYjmb7w1DazL+Ne0/cln9ebyM4GpJUqbjvnAqI5t6yI0FuPK+bOHJvNsot4NhPQTRrBJ+LN/p/2CoyT2KpqdfT9FP63IvaIVlLm6q+ZOEYmIIcwdEAJp3TSmnBeevyAC96MtLr6kVaViYPy5FxqnyzAyfB600FFDGXU6ASrMZoc+Pvy1xcESff4+jQ1otBRtSyx9A/X3XShcBuh5qj/0extBbogAY7wGfRmTbctmnDBulvnKgWoipoNTtJ9nAQF6g+YK7PmHk="/>
    <add key="Server" value="192.168.30.52"/>
    <add key="Port" value="6610"/>
    <add key="Database" value="YW"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebPServiceImplServiceSoapBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WebPServiceImplServiceSoapBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://112.65.146.40:443/WebP/dongfangbao/webPService"
        binding="basicHttpBinding" bindingConfiguration="WebPServiceImplServiceSoapBinding"
        contract="HttpsService.IWebPService" name="WebPServiceImplPort" />
    </client>
  </system.serviceModel>
</configuration>