<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vs2010.consoleApp.demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <vs2010.consoleApp.demo.Properties.Settings>
            <setting name="vs2010_consoleApp_demo_localhost_HelloWorld" serializeAs="String">
                <value>http://localhost:9000/helloWorld</value>
            </setting>
        </vs2010.consoleApp.demo.Properties.Settings>
    </applicationSettings>
</configuration>