<?xml version="1.0"?>
<configuration>
    <system.web>
       
        <compilation debug="true">
          <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          </assemblies>
        </compilation>
		<authentication mode="Forms" >
			<forms cookieless="UseCookies" name="LoginCookieName" loginUrl="~/Default.aspx" ></forms>
		</authentication>
		<pages>
			<namespaces>
				<add namespace="FishDemoCodeLib" />
			</namespaces>
		</pages>

		<!--<authorization>
			<deny users="?"/>
		</authorization>-->
    </system.web>

	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="MyInfo.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

	<system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>
</configuration>
