<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VS2010.ConsoleApp.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CSIPub" connectionString="Data Source=192.168.30.38;Initial Catalog=CSIPub;Persist Security Info=True;User ID=tyuser2;Password=CDKey311" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>

</startup>
  <applicationSettings>
    <VS2010.ConsoleApp.Test.Properties.Settings>
      <setting name="VS2010_ConsoleApp_Test_WebReference_WsdlSearchable"
        serializeAs="String">
        <value>http://192.168.30.89:8090/vipCloud/service/WsdlSearchable</value>
      </setting>
      <setting name="VS2010_ConsoleApp_Test_WebServiceHeaderTest_WebServiceWithSoapHeader"
        serializeAs="String">
        <value>http://192.168.20.24:20001/WebServiceWithSoapHeader.asmx</value>
      </setting>
      <setting name="VS2010_ConsoleApp_Test_Tree_SearchableService"
        serializeAs="String">
        <value>http://www.irtree.cn:94/SearchableService.asmx</value>
      </setting>
      <setting name="VS2010_ConsoleApp_Test_ReaderInfoService_ReaderInfoService"
        serializeAs="String">
        <value>http://192.168.20.24:8090/userManager/vipCloud/webService/ReaderInfo</value>
      </setting>
    </VS2010.ConsoleApp.Test.Properties.Settings>
  </applicationSettings>
</configuration>
