<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<authentication mode="None" />

		<httpHandlers>
			<add path="Ajax*.*.aspx,Ajax*/*.aspx" verb="*" validate="true" 
					type="MySimpleServiceFramework.AjaxServiceHandler, MySimpleServiceFramework" />			
			<add path="*.test" verb="*" validate="true" type="MyTestHandler" />

			<!--注释下面配置项，那么Handler2.ashx中的累加器将不起作用-->
			<add path="*.ashx" verb="*" validate="false" type="ReusableAshxHandlerFactory"/>
		</httpHandlers>
		
		<httpModules>
			<clear/>
		</httpModules>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
				type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
</configuration>
