<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
      <pages  enableSessionState="ReadOnly"></pages>
    <httpModules>
        <remove name="OutputCache"/>
        <remove name="WindowsAuthentication"/>
        <remove name="PassportAuthentication"/>
        <remove name="RoleManager"/>
        <remove name="UrlAuthorization"/>
        <remove name="FileAuthorization"/>
        <remove name="AnonymousIdentification"/>
        <remove name="Profile"/>
        <remove name="ErrorHandlerModule"/>
        <remove name="ServiceModel"/>
        <remove name="UrlRoutingModule-4.0"/>
        <remove name="ScriptModule-4.0"/>
      <!--<add name="TestUrlRoutingModule" type="VS2010.WebForm.ModuleAndHandler.TestUrlRoutingModule,VS2010.WebForm.ModuleAndHandler" />-->
      <!--<add name="MyModule1" type="VS2010.WebForm.ModuleAndHandler.MyModule1,VS2010.WebForm.ModuleAndHandler" />-->
      <!--<add name="MyModule2" type="VS2010.WebForm.ModuleAndHandler.MyModule2,VS2010.WebForm.ModuleAndHandler"/>-->
      <!--<add name="MyModule3" type="VS2010.WebForm.ModuleAndHandler.MyModule3,VS2010.WebForm.ModuleAndHandler" />-->
        <add name="MyModule4" type="VS2010.WebForm.ModuleAndHandler.MyModule4,VS2010.WebForm.ModuleAndHandler" />
    </httpModules>
    <httpHandlers>
       <!--<remove path="*.ashx" verb="*"/>-->
      <!--<add verb="*" path="/MyService.axd" type="VS2010.WebForm.ModuleAndHandler.TestUrlRewrite,VS2010.WebForm.ModuleAndHandler"/>-->
      <!--<add verb="*" path="*.ashx" type="VS2010.WebForm.ModuleAndHandler.HttpHandlerFactory,VS2010.WebForm.ModuleAndHandler"/>-->
      <!--<add verb="*" path="WebForm1.aspx" type="VS2010.WebForm.ModuleAndHandler.IISHandler1,VS2010.WebForm.ModuleAndHandler"/>-->
      <!--<add verb="*" path="WebForm2.aspx" type="VS2010.WebForm.ModuleAndHandler.IISHandler2,VS2010.WebForm.ModuleAndHandler"/>-->
      <!--<add verb="*" path="WebForm3.aspx" type="VS2010.WebForm.ModuleAndHandler.IISHandler3,VS2010.WebForm.ModuleAndHandler"/>-->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <!--<add name="MyModule1" type="VS2010.WebForm.ModuleAndHandler.ResponseFilterModule,VS2010.WebForm.ModuleAndHandler"  preCondition="managedHandler"/>-->
      <!--<add name="MyModule1" type="VS2010.WebForm.ModuleAndHandler.MyModule1,VS2010.WebForm.ModuleAndHandler"  preCondition="managedHandler"/>-->
      <!--<add name="MyModule2" type="VS2010.WebForm.ModuleAndHandler.MyModule2,VS2010.WebForm.ModuleAndHandler" preCondition="managedHandler"/>
      <add name="MyModule3" type="VS2010.WebForm.ModuleAndHandler.MyModule3,VS2010.WebForm.ModuleAndHandler" preCondition="managedHandler"/>-->
    </modules>
  </system.webServer>

</configuration>
