<?xml version="1.0" encoding="utf-8" ?>
<cacheProvider defaultProvider="MemcachedCacheProvider">
  <providers>
    <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" keySuffix="_MySuffix_" defaultExpireTime="2000"/>
  </providers>
</cacheProvider>