<?xml version="1.0"?>
<configuration>
    <!--ajax-->
    <configSections>
        <sectionGroup name="ajaxNet">
            <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true"/>
        </sectionGroup>
    </configSections>
    <ajaxNet>
        <ajaxSettings>
            <urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false">
            </urlNamespaceMappings>
            <jsonConverters>
            </jsonConverters>
            <debug enabled="false"/>
            <token enabled="false" sitePassword="password"/>
        </ajaxSettings>
    </ajaxNet>
    <location path="ajaxpro" allowOverride="true" inheritInChildApplications="false">
        <!--for iis6-->
        <system.web>
            <httpHandlers>
                <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
            </httpHandlers>
        </system.web>
    </location>
    <!--ajax-->
    <system.web>
        <sessionState timeout="30"></sessionState>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
