<root>
  <FileGroup Name="group1.js">
    <File Path="jquery-1.5.1.debug.js" />
    <File Path="jquery.validationEngine.注释版.js" />
    <File Path="jquery.validationEngine-cn.js" />
  </FileGroup> 

  <FileGroup Name="group2.js">
    <File Path="jsunity-0.6注释版.js"  />
    <File Path="test.js" />
  </FileGroup>

  <FileGroup Name="group1.css">
    <File Path="validationEngine.jquery.css" />
  </FileGroup>
</root>
