<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VS2010.WebForm.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SqlSessionServices" connectionString="Data Source=.;Initial Catalog=Session;User Id = sa; Password = sa;" />
        <add name="NorthwindConnectionString" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <webServices>
            <serviceDescriptionFormatExtensionTypes>

            </serviceDescriptionFormatExtensionTypes>
                <soapExtensionReflectorTypes>
                    <!--<add type ="DUS.Pub.Ws.WSDLReflector,DUS.Pub"/>-->
                    <add type ="VS2010.WebForm.Test.WSDLReflector,VS2010.WebForm.Test"/>
                </soapExtensionReflectorTypes>
        </webServices>
        <httpHandlers>
            <remove path="*.ascx" verb="*" />
            <add verb="*" path="*.ascx" type="VS2010.WebForm.Test.RequestUserControl.UserControlHandler,VS2010.WebForm.Test" validate="false" />
        </httpHandlers>
        <compilation debug="true">
        </compilation>
        <pages>
            <controls>
                <add assembly="VS2010.WebForm.Test" namespace="VS2010.WebForm.Test.WebControls" tagPrefix="Test" />
            </controls>
        </pages>
        <httpModules>
        
        </httpModules>
        <authentication mode="Windows" />
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="ascx" preCondition="managedHandler" path="*.ascx" verb="*" type="VS2010.WebForm.Test.RequestUserControl.UserControlHandler,VS2010.WebForm.Test" resourceType="File" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".ascx" />
                    <add fileExtension=".ascx" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
    <applicationSettings>
        <VS2010.WebForm.Test.Properties.Settings>
            <setting name="VS2010_WebForm_Test_localhost_WebService1" serializeAs="String">
                <value>http://localhost:2433/WebService1.asmx</value>
            </setting>
            <setting name="VS2010_WebForm_Test_VipWebService_CalisYWCD" serializeAs="String">
                <value>http://localhost:30000/CalisYWCD.asmx</value>
            </setting>
            <setting name="VS2010_WebForm_Test_ZLF_WsdlSearchable" serializeAs="String">
                <value>http://node109.vipcloud:8090/vipCloud/service/WsdlSearchable</value>
            </setting>
        </VS2010.WebForm.Test.Properties.Settings>
    </applicationSettings>
</configuration>
