<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ShareDemo" publicKeyToken="f4940b1c2a2a50c6" />
       
        <bindingRedirect oldVersion="1.1.0.0" newVersion="1.1.2.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>