<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <!--northwind数据库使用查询通知功能居然不起使用？难道是因为它是2000的数据导进来的原因？-->
        <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=sa;"/>
        <add name="sqlcachetest" connectionString="Data Source=.;Initial Catalog=sqlcachetest;User ID=sa;Password=sa;"/>
    </connectionStrings>
    <system.web>
        <!--采用采用轮询机制才需要以下配置，如果采用sql2005以上的查询通知是不需要的-->
        <!--<caching>
            <sqlCacheDependency enabled="true"  >
                <databases>
                    <add name="Northwind" connectionStringName="Northwind"/>
                    <add name="sqlcachetest" connectionStringName="sqlcachetest"/>
                </databases>
            </sqlCacheDependency>
        </caching>-->
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
