<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms"/>
		<httpHandlers>
			<add path="/MyService.axd" verb="*" validate="false" type="MySimpleServiceFramework.MyServiceHandler"/>
		</httpHandlers>
		<httpModules>
			<!--<add name="XHttpMethodModule" type="MySimpleServiceFramework.XHttpMethodModule"/>-->
			
			<add name="FishGzipModule" type="MySimpleServiceFramework.FishGzipModule"/>
			<add name="DuplexGzipModule" type="MySimpleServiceFramework.DuplexGzipModule"/>

			<!--MyLogModule应该放在处理Gzip的Module后面 -->
			<!--<add name="MyLogModule" type="MySimpleServiceFramework.MyLogModule"/>-->
			
			<!--下面这4个 Module 只能启用一个，因为它们都可以处理同一个URL模式的请求 -->
			<!--<add name="DirectProcessRequestMoudle" type="MySimpleServiceFramework.DirectProcessRequestMoudle"/>-->
			<!--<add name="MyServiceUrlRewriteModule" type="MySimpleServiceFramework.MyServiceUrlRewriteModule"/>-->
			<!--<add name="MyServiceUrlRoutingModule" type="MySimpleServiceFramework.MyServiceUrlRoutingModule"/>-->
			<add name="MyServiceUrlRoutingModule2" type="MySimpleServiceFramework.MyServiceUrlRoutingModule2"/>					
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
</configuration>
