<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="example.group" type="VS2010.ConsoleApp.ConfigurationTest.ExampleSectionGroup, 
              VS2010.ConsoleApp.ConfigurationTest">
            <section name="example" type="VS2010.ConsoleApp.ConfigurationTest.ExampleSection,
                                       VS2010.ConsoleApp.ConfigurationTest"/>
            <section name="another" type="VS2010.ConsoleApp.ConfigurationTest.AnotherSection,
                                       VS2010.ConsoleApp.ConfigurationTest"/>
        </sectionGroup>
        <section name="validatedExample" type="VS2010.ConsoleApp.ConfigurationTest.ValidatedExampleSection, VS2010.ConsoleApp.ConfigurationTest" />
        <section name="typeSafeExample" type="VS2010.ConsoleApp.ConfigurationTest.TypeSafeExampleSection, VS2010.ConsoleApp.ConfigurationTest"/>
    </configSections>
    <example.group>
        <example stringValue="A sample string value." boolValue="true" timeSpanValue="5:00:00">
            <nestedElement dateTimeValue="10/16/2006" integerValue="1"/>
            <things>
                <add name="slimy" type="goo"/>
                <add name="metal" type="metal" color="silver"/>
                <add name="block" type="wood" color="tan"/>
            </things>
        </example>
    </example.group>
    <validatedExample myTimeSpan="8:15:00" myInt="-10" myLong="6018427387904" myString="success"/>
   <typeSafeExample  myInt="Infinite" myStructConventer="L: 20, W: 30, H: 10, X: 1.5, Y: 1.0, Z: 7.3"/>
    <appSettings>
        <add key="test" value="application" />
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
