<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <!--将页面中的Trace属性输出的信息路由到侦听器中，按照我的设想是路由到侦听器会再一次显示到页面，也就是在页面显示两次，可是却没有-->
      <trace enabled="true" pageOutput="true" writeToDiagnosticsTrace="true"     requestLimit="20" mostRecent="true"   localOnly="true"/>
    </system.web>   
  <system.diagnostics>
    <!--autoflush每次输出自动刷新缓冲区到介质设备，目前已有的跟踪输出中只有文本文件有重写了Flush方法，其它不需要-->
    <trace  autoflush="false" indentsize="0">
      <listeners >
        <clear/>
        <!--<add name="TextListener" type="System.Diagnostics.TextWriterTraceListener, System,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" initializeData="d:\myListener.log" />-->
        <!--<add name="XmlListener" type="System.Diagnostics.XmlWriterTraceListener, System,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" initializeData="d:\myListener.xml" />-->
        <!--<add name="DelimitedListener" type="System.Diagnostics.DelimitedListTraceListener, System,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" initializeData="d:\myListener.txt" />-->
        <add  name="webListener"  type="System.Web.WebPageTraceListener,System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"  />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
