<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repositories.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;database=AttachNorthwind;user id=sa;pwd=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>